.HomePage{
    padding-bottom: 0;
    height: 90vh;
    width: auto;
    padding-left: 5vh;
    padding-right: 5vh;
} 

.HomeContainer{
    padding: 0vh 2vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vh;
}

.HomeContainer h2 {
    padding: 5vh;
}

.Description h2{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2vh;
}
.containerDescription{
    padding-top: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1vh;
    gap: 8vh;
    padding: 0 2vh;
}

.Description{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.containerImages img {
    align-items: center;
    width: 40vh;
}
