.Register {
    max-width: 900px;
    margin: 0 auto;
    padding: 2vh;
    font-family: Arial, sans-serif;
    min-height: auto;
    padding-bottom: 16vh;
}

.RegisterPageTitle {
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: 0;
}

.containerPersonalInformation, 
.containerUser {
    margin-bottom: 1vh;
}

h2 {
    font-size: 3vh;
    margin-bottom: 1.5vh;
    padding-top: 0;
}

p {
    font-size: 2vh;
    color: #000000;
}

.containerForm {
    display: grid;
    background: none;
    flex-direction: row;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.lbDataUsername{
    padding: 1vh;
    font-size: 2vh;
    border: 1px solid #ddd;
    border-radius: 0.5vh;
    background-color: #cacaca;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 0.5vh;
    font-size: 2vh;
    padding-top: 2vh;
    color: #333;
}

.form-group input {
    padding: 1vh;
    font-size: 2vh;
    border: 1px solid #ddd;
    border-radius: 0.5vh;
}


button {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2vh;
    margin-left: 10vh ;
}

button:hover {
    background-color: #45a049;
}



