/* TurnoModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.containerNewShift{
    display: flex;
    flex-direction: column;
    padding: 1vh;
}

.containerNewShift input{
    width: 200px;
    margin: 5px;
    height: 20px;
}


.containerNewShift label{
    font-size: 15px;
}



.modal-content label {
    width: 100px;
}

.modal-content {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    border-radius: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    
}
.modal-buttons button{
    width: 100px;
    padding: 11px;
    margin-left: 10px;
}