/*---------------  General  -------------------*/
.containerBody {
  max-width: 2000px;
  margin-top: 2vh;
  margin-bottom: 8vh;
  margin-left: 10.5vh;
}

/*---------------  AssignShiftsQuotas  -------------------*/

.InformationDataPageTitle{
  padding-bottom: 0vh;
}

.turno-manager {
  width: 300px;
  margin: auto;
}

.day-section {
  width: 100vh;
  padding: 0;
}

.containerDays{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.day-toggle {
  width: 100%;
  background-color: #ddd;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.turnos-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.tableAsSh {
  width: 100%;
  justify-content: center;
  border-collapse: collapse;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.thbutton{
  width: 12%;
}

.tdbutton{
  width: 2%;
}

.thAsSh{
  padding: 8px;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.tdAsSh {
  padding: 8px;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}


th{
  width: 23%;
}
td{
  width: 20%;
}

.trAsSh{
  border: 1px rgb(216, 216, 216) solid;
  width: 100vh;
}

.buttomAsSh {
  margin-top: 5px;
  flex: auto;
  flex-direction: row;
}

.containerButtons{
  display: flex;
  justify-content: center;
  margin: 5px;
  
}
.containerButtonNewShift{
  display: flex;
  justify-content: center;
  margin: 5px;
}
.containerButtons button{
  margin: 0 5px;
  padding: 4px;
  font-size: 16px;
}

/*---------------  ManageFitnessCenters  -------------------*/
.containerCAFInformation {
  margin-left: 0vh;
}
.h2MaFiCe{
  font-size: 20px;
  font-weight: bold;
  padding-top: 4vh;
}

.lbInItemInMaFiCe {
  flex-direction: column;
}

.informationCAFMaFiCe {
  display: flex;
  gap: 2vh; /* Espacio entre los campos */
}

.informationCAFMaFiCe {
  display: flex;
  align-items: center;
  gap: 2vh;
  padding-bottom: 2vh;
}

.form-group {
  flex: 1; /* Para que cada campo ocupe la misma cantidad de espacio */
}

.inline-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}