/*---------------  General  -------------------*/
.containerBody {
  max-width: 2000px;
  margin-top: 2vh;
  margin-bottom: 8vh;
  margin-left: 10.5vh;
}

/*---------------  AssignShiftsQuotas  -------------------*/

.InformationDataPageTitle{
  padding-bottom: 0vh;
}

.turno-manager {
  width: 300px;
  margin: auto;
}

.day-section {
  margin-top: 10px;
  width: 100vh;
}

.day-toggle {
  width: 80vh;
  background-color: #ddd;
  padding: 10px;
  cursor: pointer;
}

.turnos-list {
  padding: 10px;
  
}

.tableAsSh {
  width: 80vh;
  padding: 10px;
  justify-content: center;
  border-collapse: collapse;
}

.thAsSh,
.tdAsSh {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.buttomAsSh {
  margin-top: 5px;
  flex: auto;
  flex-direction: row;
}



/*---------------  ManageFitnessCenters  -------------------*/
.containerCAFInformation {
  margin-left: 0vh;
}
.h2MaFiCe{
  font-size: 20px;
  font-weight: bold;
  padding-top: 4vh;
}

.lbInItemInMaFiCe {
  flex-direction: column;
}

.informationCAFMaFiCe {
  display: flex;
  gap: 2vh; /* Espacio entre los campos */
}

.informationCAFMaFiCe {
  display: flex;
  align-items: center;
  gap: 2vh;
  padding-bottom: 2vh;
}

.form-group {
  flex: 1; /* Para que cada campo ocupe la misma cantidad de espacio */
}