select{
    border: solid 1px grey;
    border-radius: 8px;
    height: 40px;
    width: 220px;
    padding: 1vh;
    font-size: 16px;
    background-color: white;
    margin-left: auto;
}

.containerFormEst{
    padding-top: 3vh;
    padding-left: auto;
    padding-bottom: 3vh;

}


.esH2{
    font-size: 16px;
}

.esPar{
    font-size: 14px;
}