.lbInItem {
    font-size: 10px;
    padding: 0;
    margin: 0;
}

.inInput{
    font-size: 15px;
    width: 300px;
    height: 20px;
    padding: 0;
    margin: 0;
}
.error {
    color: red; /* Color de texto rojo para errores */
    font-size: 0.9em; /* Tamaño de fuente más pequeño */
    margin-top: 4px; /* Espaciado superior */
}
